*{
    margin: 0;
    padding: 0;
    text-align: left;
    font-style: "Nunito";
}

.event-page{
    margin: 2% auto;
    padding: 0;
}

.event-card{
    width: 100%;
    height: 100%;
    /* background-color: blue; */
    border-radius: 30px;
    box-shadow: 0px 0px 20px rgba(180, 180, 180, 0.25);
}

.event-logo img{
    width: 100%;
    border-radius: 30px;
    padding: 0;
}

.event-nav h4{
    text-align: center;
    font-size: 1.3rem;
    color: grey;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
}

p {
    padding:0 5% 10px;
}

.event-dates{
    list-style: none;
}

li {
    text-align: center;
    align-items: center;

}